<h1>Dashboard</h1>

<% if @countries.empty? %>
  <p>No countries added yet. <%= link_to "Add your first country", new_country_path, class: "btn btn-primary" %></p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Cities</th>
        <th>Number of Places</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td>
            <%= country.cities.count %>
            <%=link_to country_cities_path(country), class: "btn btn-primary" do %>   <%= fa_icon 'eye' %>
            <%end%>
             <%= link_to new_city_path, class: "btn btn-primary" do%>City
     <%= fa_icon 'plus' %>
  <%end%>
 
          </td>
          <td>
            <%= country.cities.sum { |city| city.places.count } %>
           <%= link_to new_place_path, class: "btn btn-primary" do%>New place
     <%= fa_icon 'plus' %>
  <%end%>
          </td>
          <td>
            <%= link_to "View Country Details", country_path(country), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
