<!-- Landing Photo Section -->
<% if user_signed_in? %>
  <%= link_to "View Countries", countries_path, class: "btn btn-light" %>
<% else %>
  <section id="ballons">
    <div id="airplane">
      <%= image_tag 'boing.png', height:"50%", width:"45%", alt:'airplane' %>
    </div>
    <div class="Blittle BC-2"><%= image_tag 'balloon.png' %></div>
    <div class="BlittleUp BC-8"><%= image_tag 'balloon.png' %></div>
    <div class="BlittleUp BC-3"><%= image_tag 'balloon.png' %></div>
    <div class="Blittle BC-6"><%= image_tag 'balloon.png' %></div>
    <div class="Bmedium BC-1"><%= image_tag 'balloon.png' %></div>
    <div class="Bmedium BC-3"><%= image_tag 'balloon.png' %></div>
    <div class="BmediumUp BC-4"><%= image_tag 'balloon.png' %></div>
    <div class="BmediumUp BC-8"><%= image_tag 'balloon.png' %></div>
    <div class="BmediumUpUp BC-4"><%= image_tag 'balloon.png' %></div>
    <div class="Bbig BC-5"><%= image_tag 'balloon.png' %></div>
    <div class="Bbig BC-7"><%= image_tag 'balloon.png' %></div>
  </section>
<% end %>
