<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mt-2">
      <%= render @city %>
      <div class="d-flex mt-3">
          <%= link_to(country_cities_path(@country), class: "btn btn-secondary btn-icon mb-2", title: "Back to cities") do %>
          <%= fa_icon 'arrow-left' %> Cities
        <% end %>
        <%= link_to(edit_country_city_path(@country, @city), class: "btn btn-primary btn-icon mb-2 mx-2", title: "Edit this city") do %>
          <%= fa_icon 'edit' %> Edit
        <% end %>
        <%= button_to(country_city_path(@country, @city), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this city?' }, class: "btn btn-danger btn-icon mb-2", title: "Delete this city") do %>
          <%= fa_icon 'trash' %> Delete
        <% end %>
      </div>
    </div>
  </div>
</div>
