<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= place.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= place.comments %>
  </p>

  <p>
    <strong>City:</strong>
    <%= place.city_id %>
  </p>

</div>
