<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mt-3">
      <%= render @place %>
      <div class="mt-3">
        <%= link_to(edit_country_city_place_path(@country, @city, @place), class: "btn btn-primary btn-icon mb-2", title: "Edit this place") do %>
          <%= fa_icon 'edit' %> Edit
        <% end %>
       <%= link_to country_city_places_path(@country, @city), class: "btn btn-secondary btn-icon mb-2", title: "Back to places under this city" do %>
  <%= fa_icon 'arrow-left' %> Places
<% end %>

        <%= button_to(country_city_place_path(@country, @city, @place), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-icon", title: "Destroy this place") do %>
          <%= fa_icon 'trash' %> Delete
        <% end %>
      </div>
    </div>
  </div>
</div>
